:root {
  --main: cornflowerblue;
  --second: #d56;
  --mainhalf: #69da;
  --white: #fff;
  --white1: #f6f8fa;
  --white2: #f2f4f6;
  --white3: #ddd;
  --white4: #ccc;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--white2);
}
.contentContainer {
  width: 100%;
  height: calc(100vh - 60px);
}
.mainVideo {
  width: 100vw;
  height: calc(100vh - 180px);
  background: var(--white3);
  box-sizing: border-box;
}
.mainVideo video,
.smallVideo video {
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  background: black;
}
.videoList {
  display: flex;
  width: 100vw;
  height: 120px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  box-sizing: border-box;
}
.smallVideo,
.inviteButton {
  height: 100px;
  width: 170px;
  min-width: 170px;
  background: var(--white3);
  margin-right: 10px;
  margin-left: auto;
  box-sizing: border-box;
}
.smallVideo video {
  object-fit: cover;
}
.smallVideo {
  margin-left: auto;
}
.smallVideo:last-child {
  margin-right: auto;
}
.inviteButton {
  border: 1px solid var(--white4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 14px;
  background: var(--white);
  cursor: pointer;
}
.inviteButton:hover {
  background: var(--white2);
}

.controls {
  display: flex;
  height: 60px;
  width: 100%;
}
.control {
  flex: 1;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--white3);
  border-right: none;
  background: var(--white);
  cursor: pointer;
  transition: all 0.2s;
  font-weight: bold;
  outline: none;
  font-size: 12px;
  text-decoration: none;
}
.control:active,
.control:focus,
.inviteButton:active,
.inviteButton:focus {
  z-index: 1;
  outline: 2px solid var(--mainhalf);
}
.control:hover {
  background: var(--white2);
}
#leaveButton {
  color: var(--second);
  font-size: 14px;
}
.controlIcon {
  height: 24px;
  width: 24px;
  margin-bottom: 4px;
}

.controlDropdown {
  position: relative;
  height: 60px;
  width: 60px;
}
.controlMenu {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  top: 35px;
  right: 0;
  width: 200px;
  padding: 12px 16px;
  box-sizing: border-box;
  background: var(--white);
  box-shadow: 0 2px 8px var(--white4);
  border-radius: 8px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  list-style: none;
}
.controlDropdown:hover .controlMenu {
  visibility: visible;
  opacity: 1;
}
.controlDropIcon {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controlOptionHeader,
.controlOption {
  width: 100%;
  text-align: left;
  padding: 4px 0;
  box-sizing: border-box;
}
.controlOptionHeader {
  font-weight: bold;
}
.controlOption {
  cursor: pointer;
  padding-left: 12px;
}
.controlOption:hover {
  background: var(--white3);
}

